<ion-view view-title="我的">
  <ion-content>
    <div class="bar bar-red-second position-r">
      <a class="button button-icon icon ion-ios-arrow-left font-white" href="#/tab/my"></a>
      <div class="title">一道打假</div>
      <a href="#" class="button button-icon ion-message"></a>
    </div>
    <div class="myPhotoBox">
      <img src="img/ben.png" class="myPhoto"/>
      <p class="mTitle">错过车的站台</p>
      <p><button class="button button-assertive subM">您有1条请求认证信息</button></p>
    </div>
    <ion-list class="list">
      <a class="item item-list no-border" href="#">
        <p>
          <span class="list-title">举报宝洁反馈</span>
          <span class="list-date-my">2016-01-10</span>
        </p>
      </a>
      <a class="item item-list" href="#">
        <p>
          <span class="list-title">举报茅台反馈</span>
          <span class="list-date-my">2015-03-15</span>
        </p>
      </a>
    </ion-list>
  </ion-content>
</ion-view>