<ion-view view-title="验证" class="view">
  <ion-content>
    <div class="bar bar-red-second position-r">
      <button class="button button-set"></button>
      <div class="title">一道打假</div>
      <a href="#/tab/rules" class="button button-icon button-information"></a>
    </div>
    <div class="con-top-second">
      <div class="con-logo-box">
        <a href="#"><img src="img/yanzheng04@2x.png" class="con-top-logo-second"/></a>
      </div>
    </div>
    <ion-list>
      <label class="item item-input no-border pp-ion">
        <input type="text" placeholder="请输入品牌" />
      </label>
      <!--<label class="item item-input">-->
        <!--<input type="text" placeholder="请选择产品类别" />-->
      <!--</label>-->
      <label class="item item-input item-select " style="height:47px;">
        <div class="input-label">

        </div>
        <select  id="choice" class="yz-select lb-ion">
          <option value="0" disabled selected hidden>请选择产品类别</option>
          <option>海飞丝<br /></option>
          <option>飘柔</option>
        </select>

      </label>

    </ion-list>

    <div class="row">
      <div class="col">
        <a class="button button-assertive" href="#/tab/verification-scansCode">
          扫描验证码
        </a>

      </div>
      <div class="col">
        <a class="button button-orange" href="#/tab/verification-writeCode">
          输入验证码
          <span ng-repeat="itemcode in codes">
            <span ng-if="itemcode.text != ''">
            {{itemcode.text}}
            </span>
          </span>
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>
