<ion-view view-title="Dashboard" class="view">

  <ion-content class="no-padding">
    <ion-header-bar class="bar-red position-r">
      <h1 class="title"></h1>
      <div class="buttons">
        <button class="button button-information">
        </button>
      </div>
    </ion-header-bar>
    <div class="con-top">
      <div class="con-logo-box">
        <img ng-src="img/logo@2x.png" class="con-top-logo"/>
        <p class="logo-font font-white">一道打假</p>
        <img ng-src="img/title.png" class="logo-sub-font"/>
      </div>
    </div>
    <div class="list">
      <a class="item icon-local" href="#">
        <p>
          <span class="list-title">石家庄惠民批发市场</span>
          <span class="list-date">2015-12-11 李××</span>
        </p>
        <p class="list-sub-title">卖的洗发水价格便宜，但是...</p>
      </a>
      <a class="item icon-local" href="#">
        <p>
          <span class="list-title">石家庄惠民批发市场</span>
          <span class="list-date">2015-12-11 李××</span>
        </p>
        <p class="list-sub-title">卖的洗发水价格便宜，但是...</p>
      </a>
      <a class="item icon-local" href="#">
        <p>
          <span class="list-title">石家庄惠民批发市场</span>
          <span class="list-date">2015-12-11 李××</span>
        </p>
        <p class="list-sub-title">卖的洗发水价格便宜，但是...</p>
      </a>
    </div>
    <div class="list list2">
      <a class="item icon-info" href="#">
        <p class="list-title">
          石家庄惠民批发市场
        </p>
      </a>
      <a class="item icon-info" href="#">
        <p class="list-title">
          石家庄惠民批发市场
        </p>
      </a>
      <a class="item icon-info" href="#">
        <p class="list-title">
          石家庄惠民批发市场
        </p>
      </a>
    </div>
    <ul class="list jb-list">
      <li>
        <span class="cirle">￥1000</span><br />
        <span class="jb-title">王××举报</span><br />
        <span class="jb-sub-title">假冒茅台举报获得1000元奖励</span>
      </li>
      <li>
        <span class="cirle">￥1000</span><br />
        <span class="jb-title">王××举报</span><br />
        <span class="jb-sub-title">假冒茅台举报获得1000元奖励</span>
      </li>
      <li>
        <span class="cirle">￥1000</span><br />
        <span class="jb-title">王××举报</span><br />
        <span class="jb-sub-title">假冒茅台举报获得1000元奖励</span>
      </li>
      <div class="clear"></div>
    </ul>
  </ion-content>
  <div class="clear"></div>
</ion-view>
