<ion-view view-title="我的">
    <ion-content>
        <div class="bar bar-red-second position-r">
            <!--<a class="button button-icon icon ion-ios-arrow-left font-white"></a>-->
            <div class="title">一道打假</div>
            <a href="#/tab/my-messages" class="button button-icon ion-message"></a>
        </div>
        <div class="myPhotoBox">
            <img src="img/ben.png" class="myPhoto"/>
            <p class="mTitle">错过车的站台</p>
            <p><button class="button button-assertive subM">您有1条请求认证信息</button></p>
        </div>
        <ion-list class="list">
            <a class="item item-list no-border" href="#" ng-click="openModal(1)">
                <p>
                    <span class="list-title">我的验证</span>
                    <i class="icon ion-ios-arrow-right icon-arrow"></i>
                </p>
            </a>
            <a class="item item-list" href="#" ng-click="openModal(2)">
                <p>
                    <span class="list-title">我的举报</span>
                    <i class="icon ion-ios-arrow-right icon-arrow"></i>
                </p>
            </a>
            <a class="item item-list" href="#" ng-click="openModal(6)">
                <p>
                    <span class="list-title">我的奖励</span>
                    <i class="icon ion-ios-arrow-right icon-arrow"></i>
                </p>
            </a>
            <a class="item item-list" href="#" ng-click="openModal(3)">
                <p>
                    <span class="list-title">绑定银行卡</span>
                    <i class="icon ion-ios-arrow-right icon-arrow"></i>
                </p>
            </a>
            <a class="item item-list" href="#"  ng-click="openModal(4)">
                <p>
                    <span class="list-title">密码修改</span>
                    <i class="icon ion-ios-arrow-right icon-arrow"></i>
                </p>
            </a>
            <a class="item item-list" href="#" ng-click="openModal(5)">
                <p>
                    <span class="list-title">昵称修改</span>
                    <i class="icon ion-ios-arrow-right icon-arrow"></i>
                </p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
