<ion-modal-view class="bindBankCard">
    <ion-header-bar class="bar bar-header bar-gray">
        <h1 class="title"></h1>
        <button class="button button-clear button-primary" ng-click="closeModal(4)"><i class="icon ion-android-close"></i></button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list no-border">
            <label class="item item-input mt-10 mb-10">
                <input type="text" placeholder="原密码">
            </label>
        </div>
        <div class="list  no-border">
            <label class="item item-input mb-10">
                <input type="text" placeholder="新密码">
            </label>
        </div>
        <div class="list no-border">
            <label class="item item-input">
                <input type="text" placeholder="再次输入新密码">
            </label>
        </div>
        <div class="row no-padding">
            <div class="col" style="padding-left:0px;padding-right:0px;">
                <button class="button button-assertive" href="#">
                    确定
                </button>
            </div>

        </div>
    </ion-content>
</ion-modal-view>