<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-gray">
    <h1 class="title"></h1>
    <button class="button button-clear button-primary" ng-click="closeModal(4)"><i class="icon ion-android-close"></i></button>
  </ion-header-bar>
  <ion-content class="report-type" ng-controller="typeCtrl">
    <ion-radio icon="ion-ios-circle-filled" ng-model="choice" ng-value="" >
      城市
    </ion-radio>
    <ion-radio icon="ion-ios-circle-filled" ng-model="choice" ng-value="" >
      城市
    </ion-radio>
  </ion-content>
</ion-modal-view>
